<form action="http://localhost:3000/process_create"
 method="post">

<p><input type="text" name="title"></p>
<p>
    <textarea name="description"></textarea>
</p>
<p>
    <input type="submit">
</p>
</form>